<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 th:text="#{faq.title}"></h2>
                <p th:text="#{faq.intro}"></p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1"  th:text="#{faq.content1}"><i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p th:text="#{faq.sub1-content1}"></p>
                            <p th:text="#{faq.sub1-content2}"></p>
                            <p th:text="#{faq.sub1-content3}"></p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed" th:text="#{faq.content2}"><i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p th:text="#{faq.sub2-content1}"></p>
                            <p th:text="#{faq.sub2-content2}"></p>
                            <p th:text="#{faq.sub2-content3}"></p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed" th:text="#{faq.content3}"><i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p th:text="#{faq.sub3-content1}"></p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed" th:text="#{faq.content4}"><i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p th:text="#{faq.sub4-content1}"></p>
                            <p th:text="#{faq.sub4-content2}"></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
